:root {
  --lightblue: rgb(135, 185, 185);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

header {
  height: 260px;
  background-color: rgb(54, 47, 47);
  width: 100%;
  color: white;
}

h1 {
  display: inline;
  background-color: var(--lightblue);
  color: rgb(54, 47, 47);
  font-size: 40px;
  padding-left: 30px;
  padding-right: 5px;
}

.navigation {
  display: inline;
}

ul {
  list-style-type: none;
  float: right;
  padding: 4px;
  font-size: 18px;
}

li {
  text-decoration: underline;
  display: inline;
  padding: 4px;
  color: var(--lightblue);
}

a {
  color: var(--lightblue);
}

/* .section {
  max-width: 1440px;
  margin: 0 auto;
} */

main {
  background-color: whitesmoke;
}

.banner {
  position: relative;
  text-align: center;
}

.banner1 {
  width: 100%;
  height: 200px;
}

.subtitle {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: var(--lightblue);
  font-size: 30px;
  padding: 8px;
  margin: 0 4px 5px 0;
}
/* Below thissdfsdfffffffffffffffffffffffffffff */
section {
  display: flex;
  padding: 20px;
}

h2 {
  float: left;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  width: 25%;
  text-align: center;
}

.sub-sec {
  display: flex;
  flex-wrap: wrap;
  border-left: 6px solid teal;
  padding: 30px;
  width: 100%;
}

.cont {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 2px;
}

.c2 {
  width: 50%;
}

.imgtext {
  position: absolute;
  bottom: 10px;
  /* left: 10px; */
  background-color: var(--lightblue);
  color: black;
  line-height: 2px;
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}

.img1 {
  width: 100%;
  height: 300px;
  opacity: 0.5;
  /* border: 2px solid teal; */
}

main div img {
  width: 100%;
  height: 150px;
  border: 4px solid var(--lightblue);
  opacity: 0.5;
}

main .img1:hover {
  opacity: 1;
}

main div img:hover {
  opacity: 1;
}

/* .sub-sec .li {
  margin: 10px;
  padding: 30px;
} */

.ulli {
  padding: 8px;
  /* font-size: 18px; */
  width: 100%;
  text-align: center;
}

.ulli li {
  padding: 20px;
}

.ulli li a {
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 90%;
    margin: 0 auto;
  }

  header {
    height: 295px;
  }
  h1 {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  header ul {
    display: flex;
    justify-content: center;
    float: none;
    margin: 5px;
  }
  li {
    display: list-item;
  }
  h2 {
    text-decoration: underline;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 20px 0 0 0;
  }
  section {
    display: block;
    text-align: center;
    padding: 0px;
  }
  .cont {
    width: 100%;
    height: 150px;
    margin: 2px;
  }
  .img1 {
    height: 150px;
  }
  .sub-sec {
    border: 0px;
    padding: 5px;
  }
  .ulli li {
    padding: 5px;
    margin: 0px;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 90%;
    margin: 0 auto;
  }
}
