/* Banner image size */
.banner1 {
  width: 100%;
  height: 200px;
}

/* Setting the default opacity to 0.5 */
.opacity {
  opacity: 0.5;
}

/* When hover on the tile image, change the opacity */
.opacity:hover {
  opacity: 1;
}
